<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anshark.mapper.GySysConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.anshark.model.GySysConfig">
        <id column="id" property="id" />
        <result column="cfg_title" property="cfgTitle" />
        <result column="cfg_name" property="cfgName" />
        <result column="cfg_value" property="cfgValue" />
        <result column="cfg_active" property="cfgActive" />
        <result column="cfg_describe" property="cfgDescribe" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cfg_title,cfg_name, cfg_value, cfg_active, cfg_describe, create_at, update_at
    </sql>

</mapper>
